<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="assets/chat.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="@@description"/>
        <meta name="keywords" content="@@keywords"/>
        <title>@@title</title>
        <meta property="og:title" content="@@title" />
        <meta property="og:description" content="@@description">
        <meta property="og:image" content="@@image">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="crossorigin="anonymous"></script>   
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="assets/bundle.js?v=@@version"></script> 
    </head>
    <body>
        <div class="container maincontainer">
            <div class="mainrow">
                <div class="" id="main" style="display: none;">
                    <div id="video-area">
                        <div class="video-item" id="yourVideoArea">
                            <div class="video-wrap">
                                <div class="video-inner-wrap">
                                    <video id="yourVideo" autoplay muted playsinline></video>
                                </div>
                            </div>
                        </div>
                        <div id="welcome" class="welcome-messages" v-bind:class="{'open': open}">
                            <div class="welcome-inner">
                                <span class="close fas fa-times" v-on:click="close"></span>
                                <div class="invite row" v-bind:class="{'show': showInvite}">
                                    <div class="col-xs-12 invite-header">{{inviteotherwithlink}}:</div>
                                    <div class="col-xs-12 invite-content">
                                        <input v-model="link" readonly type="text" id="invite-link-welcome"><button v-bind:class="{'fa-copy': !copied, 'fa-check': copied}" v-on:click="copy" class="fas"></button>
                                    </div>
                                </div>
                                <div class="setname row" v-bind:class="{'show': showSetName}">
                                    <div class="col-xs-12 setname-header">{{yournamelabel}}:</div>
                                    <div class="col-xs-12 setname-content">
                                        <input v-model="name" @blur="changeUserinfo" autofocus placeholder="..." @keydown.enter.exact.prevent @keyup.enter.exact="close">
                                    </div>
                                </div>
                                <button v-bind:class="{'show': showSetName}" v-on:click="close" type="submit" data-lang="starting" class="button starting">Starting</button>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row center-xs" id="footer">
                        <div class="col-xs-12" id="controls">
                            <span v-on:click="toogleMicrophone" v-bind:class="{'fa-microphone': microphoneOn, 'fa-microphone-slash': !microphoneOn}" class="microphone fas fa-microphone"></span>
                            <span v-on:click="toogleCamera" v-bind:class="{'fa-video': cameraOn, 'fa-video-slash': !cameraOn}" class="camera fas fa-video"></span>
                            <span v-on:click="toogleScreen" v-bind:class="{'screenon': screenOn, 'disabled': screenSharingNotAllowed}" class="screen fas fa-desktop"></span>
                            <span v-on:click="toogleOption" v-bind:class="{'optionon': optionOn, 'newMessage': hasNewMessage}" class="option fas fa-bars"></span>
                            <span v-on:click="toogleOption" v-bind:class="{'optiononclose': optionOn}" class="optionclose fas fa-times"></span>
                            <span v-on:click="hangOut"  v-bind:class="{'green': hangouted}" class="hangup fas fa-phone"></span>
                        </div>
                    </div>
                </div><div id="sidebar">
                    <div class="tabs">
                        <div class="tabs-header row">
                            <div tab="chat" class="col-xs-3" data-lang="chat">Chat</div>
                            <div tab="partner" class="col-xs-4" data-lang="participant">Participant</div>
                            <div tab="settings" class="col-xs-5" data-lang="settings">Settings</div>
                        </div>
                        <div class="tabs-content">
                            <div id="tab-chat">
                                <div id="textchat">
                                    <div class="msger">                              
                                        <div class="msger-chat">
                                        </div>
                                        <div class="msger-extrainfo" v-bind:class="{'hidden': !extrainfoVisible}">
                                            <span v-html="extrainfo"></span>
                                            <span class="close fas fa-times" v-on:click="closeExtra"></span>
                                        </div>
                                        <div class="msger-emoji-area" v-bind:class="{'hidden': !emojiVisible}">
                                            <span class="close fas fa-times" v-on:click="toogleEmoji"></span>
                                        </div>
                                        <form class="msger-inputarea" v-on:submit.prevent="sendMessage">
                                            <textarea v-model="message" type="text" class="msger-input" 
                                            :placeholder="[[yourmessage]]"
                                            @paste="addfilebypast"
                                            @keydown.enter.exact.prevent
                                            @keyup.enter.exact="sendMessage"></textarea>
                                            <label class="msger-emoji fas fa-grin-alt" @click="toogleEmoji"></label>
                                            <label class="msger-imgupload fas fa-file-image">
                                                <input type="file"  accept="image/*" @change="addfile">
                                            </label>
                                            <button type="submit" class="msger-send-btn fas fa-paper-plane"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-partner">
                                <div id="invite" class="row">
                                    <div class="col-xs-12 invite-header">{{inviteotherwithlink}}:</div>
                                    <div class="col-xs-12 invite-content">
                                        <input v-model="link" readonly type="text" id="invite-link"><button v-bind:class="{'fa-copy': !copied, 'fa-check': copied}" v-on:click="copy" class="fas"></button>
                                    </div>
                                </div>
                                <div id="partnerlist">
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div id="tab-settings">
                                <div id="userinfo">
                                    <div class="row">
                                        <label class="col-xs-6" >{{namelabel}}:</label>
                                        <input class="col-xs-6" v-model="name" @blur="changeUserinfo" placeholder="..." >
                                    </div>
                                </div>
                                <div id="devices">
                                    <div class="row">
                                        <label class="col-xs-6" >{{microphonelabel}}:</label>
                                        <select class="col-xs-6" v-model="audio" @change="onChange()">
                                            <option v-for="(option, index) in audiooptions" :key="index" v-bind:value="index">
                                            {{ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <label class="col-xs-6" >{{videolabel}}:</label>
                                        <select class="col-xs-6" v-model="video" @change="onChange()">
                                            <option v-for="(option, index) in videooptions" :key="index" v-bind:value="index">
                                            {{ option }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="row sound" v-bind:class="{'allowed': soundAllowed}" >
                                        <label class="col-xs-6" >{{speakerlabel}}:</label>
                                        <select class="col-xs-6" v-model="sound" @change="onChange()">
                                            <option v-for="(option, index) in soundoptions" :key="index" v-bind:value="index">
                                            {{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div id="configuration" v-if="soundEffectsEnabled">
                                    <div class="row" v-if="soundEffectsEnabled">
                                        <label class="col-xs-6" >{{soundeffectsLabel}}:</label>
                                        <input type="checkbox" v-model="soundEffectsOn" @change="toogleSoundEffects">
                                    </div>
                                </div>
                                <div id="linkarea">
                                    <div class="row">
                                        <a target="_blank" href="https://github.com/vgiselbrecht/gise-video-chat#own-installation">
                                            <span class="fas fa-plus-circle"></span>
                                            <span data-lang="buildownvideochat">Build your own Video Chat</span>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a target="_blank" href="https://github.com/vgiselbrecht/gise-video-chat/issues">
                                            <span class="fas fa-bug"></span>
                                            <span data-lang="reportabug">Report a bug</span>
                                        </a>
                                    </div>
                                </div>
                                <div id="systeminfo">
                                    <div class="row version">
                                        Version:  {{version}}
                                    </div>
                                    <div class="row imprint" v-show="imprint">
                                        <a v-bind:href="imprint" target="_blank" data-lang="imprint">Imprint</a>
                                    </div>
                                    <div class="row gdpr" v-show="gdpr">
                                        <a v-bind:href="gdpr" target="_blank" data-lang="privacy">Privacy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="clickbackground"></div>
            </div>
        </div>
        <div id="lightbox" v-on:dblclick="closeLightbox" v-bind:class="{'open': !closed}">
            <img id="lightboxImageElement"  :src="src" v-bind:class="{'active': mode == 'image'}">
            <video id="lightboxVideoElement" controls autoplay :src="src" v-bind:class="{'active': mode == 'video'}"></video>
            <iframe :src="src" v-bind:class="{'active': mode == 'youtube'}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <span class="close fas fa-times" v-on:click="closeLightbox"></span>
        </div>
        <div id="create-room" v-bind:class="{'show': showDialog}">
            <div class="create-room-inner">
                <form v-on:submit.prevent="createRoom">
                    <div class="title">{{title}}</div>
                    <div class="message" data-lang="createaroom">Create a room</div>
                    <div class="room-input">
                        <input autofocus type="text" 
                        :placeholder="[[roomNameLabel]]" 
                        v-model="roomName"
                        @keydown.enter.exact.prevent
                        @keyup.enter.exact="createRoom">
                        <button type="button" v-on:click="setRandomName" class="fas fa-random"></button>
                    </div>
                    <div class="button-area">
                        <button type="submit" data-lang="create" class="button">Create</button>
                    </div>
                    <div class="bottomlinks">
                        <span class="imprint" v-show="imprint">
                            <a v-bind:href="imprint" target="_blank" data-lang="imprint">Imprint</a>
                        </span>
                        <span v-show="imprint && gdpr"> | </span>
                        <span class="gdpr" v-show="gdpr">
                            <a v-bind:href="gdpr" target="_blank" data-lang="privacy">Privacy</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
      </body>
</html>
