@import 'settings';
@import 'lib/grid/main';
@import 'lib/webfont/fontawesome';
@import 'lib/webfont/solid';
@import 'lib/chat/chat';
@import 'lib/videogrid/videogrid';
@import 'lib/tabs/tabs';
@import 'lib/partnerlist/partnerlist';
@import 'lib/lightbox/lightbox';
@import 'lib/alert/alert';
@import 'lib/invite/invite';
 
html,body{
    margin: 0;
    width: 100%;
    height: 100%; 
    background: $active-color;
    background: linear-gradient(45deg, $active-color, lighten($active-color, 20%), $active-color);
    font-family: Arial, Helvetica, sans-serif;
}

.maincontainer{
  height: 100%;
  max-height: 100%;
  > .mainrow{
    height: 100%;
    max-height: 100%;
  }
  #clickbackground{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  &.opensidebar{
    #main{
      width: calc(100% - #{$sidebar-width});
    }
    #sidebar{
      display: block;
      float: right;
      width: #{$sidebar-width};
    }
    @media only screen and (max-width: $md-max + 1) { 
      #main{
        width: 100%;
      }
      #sidebar{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 30;
        box-sizing: border-box;
      }
      #clickbackground{
        display: block;
      }
    }
  }
}

#main{
  max-height: 100%;
  height: 100%;
  width: 100%;
  float: left;
  #video-area{
    max-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
    height: calc(100% - #{$footer-height});
    .video-item{
      &.big{
        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
        padding: 2px;
        box-sizing: border-box;
        .video-wrap{
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
      &.unconnected{
        display: none;
      }
      &.unvisible{
        visibility: hidden;
      }
    }
  }
}

#footer{
  height: $footer-height;
  #controls{
    text-align: center;
    padding: 10px;
    span{
      color: #555;
      background: #fff;
      height: 50px;
      display: inline-block;
      width: 50px;
      border-radius: 5px;
      font-size: 20px;
      padding-top: 15px;
      box-sizing: border-box;
      margin: 0px 5px;
      box-shadow: 0 0 2px 1px #555;
      transition: box-shadow 0.3s ease-in-out;
      @media only screen and (max-width: $xs-max) { 
        margin: 0px 2px;
      }
      &:hover{
        box-shadow: 0 0 6px 1px #555;
      }
      cursor: pointer;
      &.fa-phone{
        background: red;
        color: #fff;
        &.green{
          background: green;
        }
      }
      &.screen{
        &.screenon{
          background: red;
          color: #fff;
        }
        &.disabled{
          display: none;
        }
      }
      &.option{
        position: relative;
        &.optionon{
          background: red;
          color: #fff;
        }
        &.newMessage::after{
          width: 12px;
          height: 12px;
          border-radius: 6px;
          background: $notificationColor;
          content: "";
          display: block;
          position: absolute;
          top: -3px;
          right: -3px;
        }
      }
      &.optionclose{
        display: none;
        position: absolute;
        right: 4px;
        top: 4px;
        background: transparent;
        color: #555;
        border-radius: 0;
        box-shadow: none;
        z-index: 40;
        padding: 0;
        width: auto;
        height: auto;
        &.optiononclose{
          display: block;
        }
        &:hover{
          color: $active-hover-color;
        }
      }
    }
  }
}

#sidebar{
  height: 100%;
  background: #fff;
  display: none;
  overflow: hidden;
  box-shadow: 0px 0 10px 1px #555;
  padding: 8px;
  box-sizing: border-box;
  max-width: 100%;
  .tabs-content{
    height: calc(100% - #{$sidebar-header-height});
  }

  #userinfo{
    border-bottom: 1px solid $active-color;
    margin-top: 20px;
    margin-bottom: 20px;
    label{
      font-weight: bold;
      padding: 3px;
      font-size: 18px;
      padding-top: 7px;
    }
    input{
      width: 100%;
      padding: 6px;
      font-size: 18px;
      margin-bottom: 20px;
      &:focus{
        outline: none;
      }
    }
  }
  #devices{
    //border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    label{
      font-weight: bold;
      padding: 3px;
      font-size: 18px;
      padding-top: 7px; 
    }
    select{
      width: 100%;
      padding: 6px;
      margin-bottom: 20px;
      font-size: 18px;
      &:focus{
        outline: none;
      }
    }
    .row.sound{
      display: none;
      &.allowed{
        display: flex;
      }
    }
  }
}
